{% extends "base.html" %}

{% block "content" %}
<div class="container vehicle">
    <br>
    {% if vehicle.cover %}
    {% load static %}
    <img src="{{ vehicle.cover.url }}" class="card-img-top" alt="...">
    {% else %}
    <img src="{% static 'img/no_image.png' %}" class="card-img-top">
    {% endif %}
    <br>
    <h4>{{ vehicle.model }}</h4>
    <hr>
    <p>Client: {{ vehicle.client }}</p>
    <p>Plate number: {{ vehicle.plate }}</p>
    <p>VIN number: {{ vehicle.vin }}</p>
    <p>Vehicle description: {{ vehicle.model.desc | safe }}</p>
    <hr>
    <br>
</div>
{% endblock %}